@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic);

body {
	color:#000;
	font-family:'Source Sans Pro',helvetica, arial, sans-serif;
	font-size:15px;
    padding:0;
    padding-bottom:60px;
	width:936px;
	margin:auto;
	cursor:default;
	word-wrap: break-word;
	background-color:#fff;
}
header {
	margin:60px 20px 0px 20px;
}
header h1 {
    font-size:2.3em;
	margin:0;
}
article {
    display:block;
	overflow:hidden;
    padding-top:70px;
	margin-bottom:70px;
}
a {
	font-family:inherit;
	text-decoration:none;
    color:inherit;
}
a:link:active, a:visited:active, .slidenav div:active {
	background-color:#000;
	color:#fff;
	border-color:#000;
}
a:link, a:visited {
	text-decoration:underline;
	color:inherit;
}
a:hover {
	text-decoration:none;
	background-color:transparent;
}
ul, li {
	list-style:none;
	margin:0;
	padding:0;
}
h1 {
    font-size:2em;
    font-weight:500;
    margin-top:0.6em;
	margin-bottom:0.3em;
}
h1 a:link, h1 a:visited {
	text-decoration:none;
}
h2 {
    font-style:italic;
	font-weight:200;
	line-height:1.4em;
	font-size:1.3em;
	margin:0.1em 0;
}
nav h2 span {
    display:inline-block;
    margin-right:10px;
    font-style:normal;
}
p {
	line-height:1.5em;
}
small {
    display:inline-block;
    font-style:italic;
    line-height:1.2em;
    color:#999;
}

/*--------target elements--------*/

.dots span {
	display:inline-block;
	position:relative;
	z-index:99;
	background:#ddd;
	width:8px;
	height:8px;
	margin:14px 4px 0 0;
	border-radius:20px;
	-webkit-transition:background 0.1s ease-in-out;
}
.dots span.active, .dots span:hover {
	background:#444;
    cursor:pointer;
}
.inactive, div.inactive:active, div.inactive:hover {
	color:#eee;
	background-color:#fff;
	cursor:default;
}
.slides {
	width:615px;
    position: relative;
    overflow:hidden;
}
.slides ul {
    box-orient:horizontal;
    display:-webkit-box;
    -webkit-transition:margin-left 0.3s ease-out;
}
.slides li {
    list-style-type:none;
    margin: 0;
    padding: 0;
}
.text {
    width:320px;
}
.slides, .text {
	float:left;
    position:relative;
}

.slidecaption {
    /*setting position, margin, and float this way replicates absolute positioning but allows the container's height to reflect the elements. brilliant solution thanks to JoeCoder http://stackoverflow.com/questions/18947691/extend-height-to-include-absolutely-positioned-children/18963170*/
	position:relative;
    margin-right:-100%;
    float:left;
	opacity:0;
	filter:alpha(opacity=0);
}
.slides img {
    width:100%;
}
.slides:before {
    content: "";
    position:absolute;
    width:50px;
    height:50px;
    top:50%;
    left:50%;
    margin:-25px 0 0 -25px;
    z-index:-1;
    border-radius:100px;
    background:#000;
    opacity:0;
}
.slides:before {
    -webkit-animation:pulse 2s 1s ease-out infinite;
}
.slides:after {
    -webkit-animation:pulse 2s 2s ease-out infinite;
}
.slides.loaded:before, .slides.loaded:after {
    -webkit-animation:none;  
}
.text > * {
    padding-left:20px;
    padding-right:20px;
}
.slidecaption {
    width:280px;
	color:#333;
}

.slides:not(.single) img:hover {
	cursor:pointer;
}
.slides li, .slidecaption {
    -webkit-transition: opacity 0.3s ease-in-out;
}
.shown {
    display:block;
    z-index:90;
	opacity:1 !important;
	filter:alpha(opacity=100) !important;
}

/*---------photos---------*/

.photos .slides, .photos .slides div {
    width:100%;
}
.photos .text {
    width:700px;
}
.photos .slidecaption {
    width:660px;
}

/*---------extras---------*/

@media (max-width:999px),(orientation: portrait) {
    html {-webkit-text-size-adjust:none;}
    body {width:616px;}
    .slides, .text {width:100% !important;}
    .slidecaption {width:576px !important;}
}

@media (max-width:615px) {
    body {font-size:13px;}
    header {margin-top:30px;}
    article {padding-top:35px;margin-bottom:35px;}
    body, .text {width:100% !important;}
    .slidecaption {width:85% !important;}
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform:scale(0);
        opacity:1;
    }
    100% {
        -webkit-transform:scale(1);
        opacity:0;
    }
}